__pycache__
Collatz_hypothesis.py
dataset
__pycache__/tf_text_preprocess.cpython-311.pyc
__pycache__/transformer_custom.cpython-311.pyc
archive
Dockerfile
results
logs
logs/train/training_logs.txt
transformer_custom_test.py
